.showcase-img {
    height: 33rem;
}

.card {
    height: 100%;
}

.carousel-img {
    height: 40rem;
}

.carousel-text {
    font-family: Verdana;
}

.carousel-text-b {
    font-size:24px
}

body::before {
    display: block;
    content: "";
    height: 60px;
}



@media (max-width: 576px) {
    .carousel-text-a {
        font-size: 18px;
    }

    .carousel-text-b {
        font-size: 14px;
    }

    .carousel-img {
        height: 11rem;
    }
}