.showcase-img {
    height: 33rem;
}

.card {
    height: 100%;
}

.carousel-img {
    height: 40rem;
}

.carousel-text {
    font-family: Verdana;
}

body::before {
    display: block;
    content: "";
    height: 60px;
}



@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}